{% extends "base.html" %}

{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <!--tarjeta-->
        <div class="card"> <!--tarjeta-->
            <div class="card-body">
                <form action="/editarmateria/" method="POST"> {%csrf_token%}<!--formulario-->
                   
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control"
                        value={{mismaterias.Codigo}} minlenght="6" maxlenght="6" readonly reqired>
                    </div>
                
                    <div class="form-group py-3">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control"
                        value={{mismaterias.Nombre}} minlenght="6" maxlenght="6" reqired>
                    </div>
                
                    <div class="form-group py-2">
                        <input type="text" id="numCreditos" name="numCreditos" class="form-control"
                        value={{mismaterias.Creditos}} min="1" max="9" reqired>
                        
                    </div>
                
                    <div class="form-group py-2">
                     <button type="submit" class="btn btn-primary">guardar</button>
                    </div>
    
                
                </form>
                </div>



    </div> <!--columna-->
